@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --veritas-red: #de0216;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #000;
}

* {
  box-sizing: border-box;
}
